body {
    /*color: #fff;
    background-image: url('../images/space.jpg');
    background-size: cover;
    background-position: center;*/
    padding: 1rem;
    background-color: #171717 !important;
}
/*
.large-image {
    width: 100%;
    max-width: 600px;
}
*/
#content>div.container-fluid>div>div {
    padding: 0.3rem;
}

#content>div.container-fluid>div>div>h1,
#content>div>div.container-fluid>div>div>h1 {
    background-color: #171717;
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    color: #ab51f5;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    font-size: 1.9rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

/* jumbotron */
#content>div.container-fluid>div>div {
    border: 0.1rem solid #AEFAFC;
    animation: color-change 10s linear infinite;
}

@keyframes color-change {
    25% {
        background-color: #FC5378;
    }

    50% {
        background-color: #4044E6;
    }

    100% {
        background-color: #47FFAC;
    }
}

#content>div:nth-child(4)>nav>ul>li>a {
    color: #20c997;
    text-align: center;
}

#content>nav {
    margin-bottom: 0rem;
}

#content>nav>a {
    color: #9ED2C6;
}

#content>nav>button {
    background-color: rgb(0, 0, 0, 0.181) !important;
    color: #9ED2C6;
    border: 0.1rem solid #9ED2C6;
}

.navbar-toggler-icon {
    border: 0.09rem solid #9ED2C6;
    border-top-left-radius: 55%;
    border-bottom-right-radius: 55%;
}

.navbar-toggler-icon:hover {
    border-radius: 0;
    border-top-right-radius: 55%;
    border-bottom-left-radius: 55%;
    font-size: 1.5rem;
}

#navbarSupportedContent>ul>li>a {
    color: #9ED2C6;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}

#navbarSupportedContent>ul>li>a:hover {
    color: #47FFAC;
}

.navbar.nav-home {
    margin-bottom: 0;
}

body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}*/

.container {
  padding: 0 15px; /* Add padding to container */
}

.navbar-nav .nav-link {
  font-size: 1.3rem; /* Adjust font size if needed */
}

.navbar-brand {
  white-space: nowrap; /* Prevent brand name from wrapping */
}

.navbar-toggler {
  margin-right: auto; /* Center align the navbar toggler */
}

.register-home,
.log-in-home {
    background-color: #171717;
    border: 0.1rem solid #17a2b8;
    border-radius: 19rem;
    color: gold;
    font-size: 2.1rem;
    padding: 1rem;
    transform: rotate(7deg);
    width: 145px;
    box-sizing: border-box;
}

#submit.btn.btn-success,
#submit.btn.btn-danger {
    background-color: rgb(0, 0, 0, 0.181) !important;
}

a:hover {
    color: #6ABFA6 !important;
    text-decoration: none !important;
}

.description {
    background-color: #171717;
    border: 0.1rem solid #17a2b8;
    border-radius: 19rem;
    padding: 0.7rem;
}

.log-in-home {
    margin-left: 1.9rem;
    transform: rotate(-7deg);
}

.log-out {
    color: #9A30F3;
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
}
/*
.artificial-intelligence {
    color: #9A30F3;
    font-family: 'Cardo';
    font-size: 2.71rem;
}
*/
.p-1.rounded-3.jumbotron {
    margin: 0;
}

body>div.content>div.container>div>div>div>div.mb-3>form>div:nth-child(5) {
    margin-bottom: 1.9rem !important;
}

.popup-container {
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #171717 !important;
    padding: 19px;
    border: 1px solid #ccc;
    border-top-right-radius: 19%;
    border-bottom-left-radius: 19%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 73%;
    max-width: 559px;
}

#showPopupButton {
    border: 0.1rem solid #ccc;
    border-radius: 19%;
    color: #8ec1c8;
    padding: 1px 5px;
}

.h6-close-btn {
    color: #17a2b8;
}

#closePopupButton {
    background-color: #171717;
    border: 0.1rem solid #AEFAFC;
    border-radius: 100%;
    padding: 5px 10px;
}

.Dbt {
    color: rgb(209, 176, 236);
}

.SìįSí,
.gold1 {
    color: gold;
}

.green {
    color: rgb(52, 97, 52);
}

.gold {
    color: rgb(99, 85, 7);
}

.crimson {
    color: rgb(121, 14, 35);
}

.white {
    color: #fff;
}

.mediumslateblue {
    color: mediumslateblue;
}

.purple {
    color: rgb(168 85 247 / var(--tw-text-opacity));
    ;
}

.convers-id {
    color: #cdfcf5;
}

.llm-response {
    color: #70f8fd;
}

.llm-response h3, .no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* Ensure the text does not exceed container width */
}

.user-message {
    color: #4285F4;
    /* A shade of blue */
}

.conversation_id, .created-at {
    color: #cefcfc;
}

.like-button {
    cursor: pointer;
}
.like-button {
    color: #70f8fd;
}

.summary {
    color: #AEFAFC;
}

.created {
    color: #d0ebec;
}

textarea#userInput {
    color: #72e9fc !important;
}

.history-title {
    color: #17a2b8 !important;
    margin-top: 0;
}

.underline {
    color: gold;
    text-decoration: underline;
}

.conversations-details {
    color: #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
}

.conversations {
    color: #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
    margin-top: 0;
    text-align: center;
}

.scroll_conversations {
    max-height: 500px;
    overflow-y: auto;
}

#scrollDownButton {
    border: 0.1rem solid;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

.scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.align-left {
    text-align: left;
}

#content>div>div>a,
#content>div.conversations.container>div>a {
    text-decoration: underline;
}

#content>div>div>a:hover,
#content>div.conversations.container>div>a:hover {
    color: #6ABFA6;
}

label {
    color: #bb99d5;
    font-family: 'Lora', 'Times New Roman', serif;
}

label,
input,
#userInput,
#generatedText,
textarea,
#historiesContainerJson>pre,
#showBlogPostsButton>pre {
    background-color: rgb(0, 0, 0, 0.181) !important;
}

input,
#userInput,
#historiesContainerJson>pre {
    color: #9ED2C6 !important;
}

.crown,
.micro {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

.micro {
    border: 0.1rem solid #000;
}

.loading {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 3.7rem;
}

.message-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #333;
}

.message-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.message-body {
    margin-top: 5px;
    color: #333;
}

#generateDraw,
#userInput,
#generatedText,
#final-result-content.form-control.result,
.textarea-memory,
body>pre#themes,
body>pre#messages {
    border: 0.1rem solid #1295FA;
    border-radius: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    height: 91px;
    min-height: 55px;
    padding: 0.3rem;
    width: 100%;
}

textarea#message {
    height: 109px;
}

#generateDraw,
#content>div.container.text-center>textarea, 
#content>div.container.conversations>textarea {
    color: #70f8fd !important;
}

#content>div.container.text-center>div.row>div>form>div>label {
    display: none;
}

.textarea-memory {
    color: #4bedc7;
    height: 199px;
    line-height: 1.9rem;
    padding: 0.9rem;
}

.divider {
    margin: 10px 0;
    border-top: 1px solid #ccc;
}

#userInput::placeholder,
#generateDraw::placeholder {
    text-align: center;
    font-style: italic;
    color: #999;
}

textarea#generatedText {
    color: #AEFAFC;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 127px;
    margin-bottom: 1rem;
}

.label_ {
    background-color: #fff;
    border-radius: 19%;
    color: #AEFAFC;
    font-size: 1rem;
    padding: 0.1rem;
}

#start-button,
#speechRecognitionButton {
    background-color: rgb(0, 0, 0, 0.181) !important;
    border: 0.1rem solid #AEFAFC;
    color: #30ABB7;
    font-family: 'Cardo';
}

#start-button:hover,
#speechRecognitionButton:hover {
    border: 0.1rem solid #73DD7E;
    color: #9A30F3;
}

#generateButton,
#generationType,
#playbackButton,
#response-audio,
#theme_name,
#generateBlogButton:hover {
    background-color: rgb(0, 0, 0, 0.181) !important;
    /*background-color: #171717;*/
    border: 0.1rem solid #AEFAFC;
    color: #d08aee;
}

#generateButton:hover,
#playbackButton:hover,
#message {
    border: 0.1rem solid #73DD7E;
    color: #1295FA;
}

#final-result-content,
#resultMemo>h3 {
    color: #1295FA;
}

textarea#writing_text.form-control {
    min-height: 55px;
    font-family: 'Merriweather', sans-serif;
    height: 55px;
}

#showResultButton {
    font-size: 1.09rem;
}

#content>div.container.text-center>ul, 
#content>div.container.conversations>ul:nth-child(9),
#content>div.container.conversations>ul:nth-child(13) {
    padding: 0;
}

#saveImage>a,
.back-home>a {
    border: 0.1rem solid #9A70F3;
    border-radius: 19%;
    color: #fff;
    font-size: .9rem;
    padding: .7rem;
}

.back-home>a:hover {
    color: #fff;
}

button.btn.back-home.mb-3:hover {
    border: none;
}

.btn.fastapi-docs {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0.5rem;
    transform: rotate(37deg);
}

.btn.fastapi-redoc {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0.5rem;
    transform: rotate(-37deg);
}

.error {
    color: crimson;
    background-color: #fff;
    font-family: 'Cardo';
    margin: 1rem 1rem 0;
    padding: 0.1rem;
    text-align: center;
    white-space: pre-line;
}

hr.mb-3,
body hr {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    margin: 0 3rem;
}

#footer {
    margin-bottom: 1.09rem;
    margin-top: 1.09rem;
    text-align: center;
}

/* fa fa-heart for link: "Conversations Liked -¡!¡- ... -¡!¡- */
#navbarSupportedContent>ul>li:nth-child(6)>a>i,
#content>div.container-fluid>div>div>h1>i,
#navbarSupportedContent>ul>li:nth-child(7)>a>i {
    color: pink;
}

.fa-inverse {
    background-color: #9126E8;
    border: 0.1rem solid #AEFAFC;
    border-radius: 55%;
    color: #fff;
}

.fa-inverse:hover {
    color: #6ABFA6;
    width: 3.7rem;
}

.fas {
    color: #fff !important;
}

.copyright {
    background-color: #171717;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    color: #b55fd9;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
}

#home-tab2>a,
#profile-tab2 {
    font-size: 2.7rem;
}

/* CAROUSEL SECTION */

#carouselExampleCaptions {
    background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
    background-size: cover;
    padding: 5rem;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    background-color: green;
    border: 0.1rem solid #9126E8;
    border-radius: 0.5rem;
}

#carouselExampleCaptions>div.carousel-inner img {
    border: 0.1rem solid #9126E8;
    border-radius: 0.5rem;
}

#carouselExampleCaptions>div {
    max-width: 73%;
    height: auto;
    margin: 0.5rem auto;
}

#aiGeneratorBtn>a, #aiGeneratorBtn1>a, #chatSystem>a, #start-button,
#interruptButton, #speechRecognitionButton {
    background-color: rgb(0, 0, 0, 0.181) !important;
    border: 0.1rem solid #9126E8;
    border-radius: 0.5rem;
    color: #00FFAB;
    padding: 1rem;
}

#interruptButton {
    color: indianred;
}

#interruptButton:hover {
    color: rgb(70, 183, 128);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* YOUTUBE BLOG GENERATOR SECTION */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.load {
    width: 100px;
    height: 100px;
    margin: 9px auto 0;
    border: solid 10px #8822aa;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: rotate 1s linear infinite;
}

.container-custom {
    max-width: 800px;
}

.blog_details {
    border: 0.1rem solid #343a40;
    border-radius: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.custom-input-group:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* Styles for the screenshot section */
#screenshotResult {
    text-align: center;
    /* Center-aligns the content within the div */
}

#screenshotImage {
    max-width: 100%;
    /* Ensures the image doesn't overflow the container */
    max-height: 991px;
    /* Sets a maximum height to keep the image within a reasonable size */
    height: auto;
    /* Maintains the aspect ratio */
    display: inline-block;
    /* Makes the image behave like a block element while remaining inline */
}

/* Ensure the image scales properly on smaller screens */
@media (max-width: 768px) {
    #screenshotImage {
        max-height: 991px;
        /* Adjust the max height for smaller screens */
    }
}

.btn-custom {
    background-color: #343a40;
    color: #17a2b8;
}

.main {
    background-color: #171717;
    color: #f8f9fa;
}

.footer {
    background-color: #343a40;
    color: #f8f9fa;
}

.footer a {
    color: #17a2b8;
}

.footer a:hover {
    color: #0d6efd;
}

.lower-size {
    font-size: 1.09rem;
}

/* WEBSITE-REVIEW SECTION */

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #4f46e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon-circle {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0 20px; /* Add margin to separate buttons */
}

svg {
    width: 60px;
    height: 60px;
}
