 body {
     <!--font-family: Arial, sans-serif;-->
     text-align: center;
     color: white;
     background-image: url('../images/space.jpg');
     background-size: cover;
     background-position: center;
    padding: 1rem;
 }

large-image {
     width: 100%;
     max-width: 600px;
 }

.completed {
     text-decoration: 0.3rem line-through green;
 }

#content > div.container-fluid > div > div {
    padding: 0.3rem;
}

#content > div.container-fluid > div > div > h1, #content > div > div.container-fluid > div > div > h1{
    background-color: #fff;
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    color: #9126E8;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    font-size: 1.9rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.jumbotron {
    background-color: #47FFAC;
    border: 0.1rem solid #AEFAFC;
    animation: color-change 10s linear infinite;
}

@keyframes color-change {
    25% {
      background-color: #FC5378;
    }

    50% {
      background-color: #4044E6;
    }

    100% {
      background-color: #47FFAC;
    }
}

#content > div:nth-child(4) > nav > ul > li) > a {
    color: #20c997;
    text-align: center;
}
#content > nav > a {
    color: #20c997;
}

#content > nav > button {
    color: #20c997;
    border: 0.1rem solid #20c997;
}

#navbarSupportedContent > ul > li > a {
    color: #9ED2C6;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}

#navbarSupportedContent > ul > li > a:hover {
    color: #47FFAC;
}

.log-in , .register {
    font-family: 'Cardo';
    font-size: 3.07rem;
}

.log-register-h3 {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.19rem solid #9ED2C6;
    border-top-left-radius: 37%;
    border-bottom-right-radius: 37%;
    margin: 0.7rem;
    padding: 0.7rem;
}
/* register & log-in index.html */
#navbarSupportedContent > ul > li:nth-child(1) > a.register-home,
#navbarSupportedContent > ul > li:nth-child(3) > a.log-in-home {
    border: 0.1rem solid gold;
    border-radius: 19rem;
    font-size: 2.7rem;
    margin: 0 1rem;
    padding: 1.3rem;
    transform: rotate(7deg);
}

#navbarSupportedContent > ul > li:nth-child(3) > a.log-in-home {
    transform: rotate(-7deg);
}

.log-out {
    color: #9A30F3;
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
}

.artificial-intelligence {
    color: #9A30F3;
    font-family: 'Cardo';
    font-size: 2.71rem;
}

#content > h3, #content > div:nth-child(3) > h3,
#resultMemo > h3:nth-child(2), #resultMemo > h3,
.conversations-details {
    color: #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
}

label {
    color: #9A30F3;
    font-family: 'Lora', 'Times New Roman', serif;
}

/* home textarea */
#writing_text {
    color: green;
}

.crown {
    border: 0.1rem solid #AEFAFC;
    border-radius: 2.3rem;
    padding: 0.3rem;
    width: 2.7rem;
}

.language-btn, .btn-story {
    background-color: #9A30F3;
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.3rem;
    text-decoration: None;
}

.language-btn:hover {
    color: #000;
}

#langAr, .btn-story:hover {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
}

#langEn {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
    transform: rotate(-45deg);
}

#langEs {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
    transform: rotate(45deg);
}

#langPt {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
}

#langFr {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
}

#userInput, #generatedText, #final-result-content.form-control.result, .textarea-memory {
    border: 0.1rem solid #1295FA;
    border-radius: 0.9rem;
    color:#0041F6;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    height: 91px;
    min-height: 55px;
    padding: 0.3rem;
    width: 100%;
}

.textarea-memory {
    color: red;
    height: 199px;
    line-height: 1.9rem;
    padding: 0.9rem;
}

#final-result-speech-content {
    border: 0.1rem solid #1295FA;
    border-radius: 0.9rem;
    color:purple;
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
    height: 91px;
    min-height: 55px;
}

#userInput::placeholder {
    /* Center the placeholder text horizontally */
    text-align: center;

    /* Optionally, you can style the placeholder text further */
    font-style: italic;
    color: #999; /* Placeholder text color */
}

textarea#generatedText {
    color: #096752;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.generate-text {
    color: #fff;
    background-color: #1295FA;
    border: 0.1rem solid #AEFAFC;
}

.generate-text:hover {
    background-color: #1295FA;
    border: 0.1rem solid #73DD7E;
    color: #73DD7E;
}

# --------------------------------------------------- 🔥👌🏿💚😇❤️🔥 ---------------------------------------------------#
.label_ {
    background-color: #fff;
    border-radius: 19%;
    color: #096752;
    font-size: 0.7rem;
    padding: 0.1rem;
}

#start-button, #final_result {
    color: #fff;
    background-color: #1295FA;
    border: 0.1rem solid #AEFAFC;
    font-family: 'Lora', 'Times New Roman', serif;
}

#start-button:hover, #final_result:hover {
    color: #73DD7E;
}

#speechRecognitionButton, #final_result_speech {
    color: #fff;
    background-color: #30ABB7;
    border: 0.1rem solid #AEFAFC;
    font-family: 'Cardo';
}

#speechRecognitionButton:hover, #final_result_speech:hover, .btn.replay {
    background-color: 9A30F3;
    border: 0.1rem solid #73DD7E;
    color: #9A30F3;
}

#generateButton, #showResultButton {
    color: #37EC37;
}

#generateButton:hover {
    color: #fff;
}

.generate-text {
    color: #fff;
    background-color: #9A30F3;
    border: 0.1rem solid #AEFAFC;
    margin-top: 1rem;
    font-family: 'Merriweather', sans-serif;
}

.generate-text:hover {
    background-color: #9A30F3;
    color: #73DD7E;
}

#final-result-content, #resultMemo > h3 {
    color: #1295FA;
}

textarea#writing_text.form-control, #final-result-content {
    min-height: 55px;
    font-family: 'Merriweather', sans-serif;
    height: 55px;
}

#final-result-content {
    margin: 0 0 1rem;
    background-color: #fff;
    padding: 0.5rem;
}

#showResultButton {
    font-size: 1.09rem;
}

.info-btn > a {
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-size: 0.9rem;
    text-decoration: None;
}

.info-btn > a:hover {
    color: #000;
}

.btn.conversation-details {
    background-image: linear-gradient(to bottom, #8e2cb8, #00FFAB);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.btn.fastapi-docs {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    margin: 0.5rem;
    transform: rotate(37deg);
}

.btn.fastapi-redoc {
    background-image: linear-gradient(to bottom, #00FFAB, #8e2cb8);
    border: 0.1rem solid #AEFAFC;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    margin: 0.5rem;
    transform: rotate(-37deg);
}

.error {
    color: crimson;
    background-color: #fff;
    font-family: 'Cardo';
    margin: 1rem 1rem 0;
    padding: 0.1rem;
    text-align: center;
    white-space: pre-line;
}

hr.mb-3, body hr {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    margin: 0 3rem;
    #margin-top: 1.9rem;
}

#footer {
    margin-bottom: 1.09rem;
    margin-top: 1.09rem;
    text-align: center;
}

.fa-inverse {
    background-color: #9126E8;
    border: 0.1rem solid #AEFAFC;
    border-radius: 55%;
    color: #fff;
}

.fa-inverse:hover {
    color: #6ABFA6;
    width: 3.7rem;
}

.fas {
    color: transparent !important;
}

.copyright {
    background-color: #AEFAFC;
    border: 0.1rem solid #1295FA;
    border-radius: 0.5rem;
    color: #9A30F3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
}

#home-tab2 > a, #profile-tab2 {
    font-size: 2.7rem;
}

/* link: Click to Go Back to Conversation Selection */
#content > div.content > div.container.conversations-details > div > a {
    text-decoration: None;
}

# --------------------------------------------------- 🔥👌🏿💚😇❤️🔥 ---------------------------------------------------#
