{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon3.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">
                <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
                SìįSí DBT OpenAI
                <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
            </h1>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="content">

    <!-- Page Header -->

    <hr class="mb-3" style="color:green;">

    <div id="resultMemo" style="" class="text-center mb-3">
        <h3><span style="color:gold;">GO BACK, TRY AGAIN</span><br>or<br><span  style="color:crimson">Sorry Not Authenticated</span></h3>
        <h3>Register & Log In<br>enjoy<br>¡!¡ 😇 ¡!¡</h3>
    </div>

    <hr class="mb-3" style="color:yellow;">

    <div class="text-center">
        <a href="/" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
        <!--<a href="{{ url_for('home') }}" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>-->
    </div>

    <hr class="mb-5" style="color:red;">

</div>

{% endblock %}

{% block footer %} {% endblock %}
