{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href='static/assets/images/favicon.ico'>
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<div class="content">

  <!-- Page Header -->

    <div class="container-fluid">
        <div class="p-1 rounded-3 jumbotron">
            <div class="py-1">
                <h1 class="">Delete a Conversation ¡!¡</h1>
            </div>
        </div>
    </div>

    <hr class="mb-3" style="color:green;">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto content mb-3">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:red">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {{ form.hidden_tag() }}
                    {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'danger btn-block submit'}) }}
                </form>

            </div>
        </div>
    </div>

    <hr class="mb-3" style="color:yellow;">

    <div class="text-center">
        <a href="/conversation_id" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
    </div>

    <hr class="mb-3" style="color:red;">

</div>

{% endblock %}

{% block footer_ %} {% endblock %}
