<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="geo.place-name" content="Spain">
            <meta property="og:type" content="dbt-openai DBT">
            <meta name="description" content="This is dbt-openai website.">
            <meta property="og:title" content="dbt-openai website">
            <meta content="Programmer" property="og:description">
            <meta property="og:image" content="https://dbt-openai-a853e0d6a59a.herokuapp.com/static/assets/images/logo3.jpg">
            <meta property="og:url" content="https://dbt-openai-a853e0d6a59a.herokuapp.com/">
            <meta property="og:description" content="dbt-openai Website - Programmer & Developer, Frontend & Backend">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="Programmer & Developer, Frontend & Backend - dbt-openai Website">
            <meta name="twitter:description" content="Programmer & Developer - dbt-openai Website">
            <meta name="twitter:image" content="https://dbt-openai-a853e0d6a59a.herokuapp.com/static/assets/images/logo3.jpg">
            <meta name="keywords" content="dbt-openai Website - programmer, developer, frontend, backend, python, javascript">
            <meta name="author" content="Developer">
            <!--<meta name="google-site-verification" content="YOUR_GOOGLE_SEARCH_CONSOLE_VERIFICATION_CODE" />-->
            <meta name="robots" content="index, follow" />
            <meta name="googlebot" content="index, follow">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>{% block title %}{% endblock %} 👌🏿DBT OpenAI App💪🏿</title>

            <!-- Custom fonts for this template -->
            <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

            <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

            {% block favicon %} {% endblock %}

        {% endblock %}
    </head>

    <body>
        <div id="content">
            <!-- Content-Title -->
            {% block content1 %}{% endblock %}

            <!-- Navbar -->
            {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark">

                <a class="navbar-brand col" href="https://openai-dbt-api-18753ef200f1.herokuapp.com/docs">SìįSí Dbt</a>

                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if not current_user.is_authenticated: %}
                        <!--
                        <li class="nav-item">
                            <a class="nav-link register" href="{{ url_for('register') }}">Register &</a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link active log-in" aria-current="page" href="{{ url_for('login') }}">
                                <span style="font-size:1.45rem; color:gold">Reload the page</span><br>or<br>Log In</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_all_conversations') }}">Conversations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ url_for('show_story') }}">Conversation History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ url_for('select_conversation') }}">Conversation ID</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ url_for('delete_conversation') }}">Delete Conversation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link log-out" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </nav>

            <div class="text-center mb-3">
                {% if current_user.is_authenticated %}
                    <span style="color:#fff;">¡!¡ Welcome, {{ current_user.name }} ¡!¡</span>
                {% else %}
                    <span style="color:#fff;">Reload the page ∞</span> <span style="font-size:1.45rem; color:gold">∞ Reload the page</span>
                {% endif %}
                {% endblock %}
            </div>

            <!-- Content -->
            {% block content %}{% endblock %}

            <!-- Add a button to show the conversation -->
            <div class="container text-center mb-1">
                <div>

                    <button id="conversation-details" type="button" class="btn submit conversation-details info-btn mb-2"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.3rem;">
                        <a href="/show-history">Conversation Details</a>
                    </button>
                </div>

                <button id="fastapi-docs" type="button" class="btn submit fastapi-docs info-btn"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.3rem;">
                    <a href="https://openai-dbt-api-18753ef200f1.herokuapp.com/docs">FastAPI-1</a>
                </button>

                <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">

                <button id="fastapi-redoc" type="button" class="btn submit fastapi-redoc info-btn"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.3rem;">
                    <a href="https://openai-dbt-api-18753ef200f1.herokuapp.com/redoc">FastAPI-2</a>
                </button>
            </div>

        </div>
        <div id="footer">
            <!-- Footer -->
            {% block footer %} {% endblock %}
            <footer>
              <div class="container container-margin">
                <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                      <li class="list-inline-item">
                        <a href="https://rastas-dreadlocks.3marches.com" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://rastas-dreads-blog.herokuapp.com" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a  href="https://github.com/isaacaisha" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    </ul>

                    <div class="mb-3">
                      <span class="copyright">
                      © DBT Copyright {{ date }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% if current_user.id == 1: %}
              <div class="mb-3 text-center">
                  <a href="{{ url_for('get_conversations_jsonify') }}" style="color:#fff;">
                      Click to Get MEM😎RY Conversations Jsonify
                  </a>
              </div>
              {% endif %}
            </footer>

            <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dbt-openai.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
            <script src="{{ url_for('static', filename='js/recording-speech.js') }}"></script>
            <script src="{{ url_for('static', filename='js/speech.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        </div>
    </body>

</html>
<!-- Include JavaScript file -->
<!--
<script src="static/js/dbt-openai.min.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/speech.js"></script>
<script src="static/js/recording-speech.js"></script>
-->