{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">DBT OpenAI Speech Generation ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<hr style="color:green;">

<h3 class="mb-3 text-center log-register-h3">To INTERACT with:<br><span class="artificial-intelligence">SìįSí</span><br>Please Register then Log in<br>¡!¡ <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown"> ¡!¡</h3>

<hr class="mb-5" style="color:yellow;">

{% endblock %}

{% block footer %} {% endblock %}
