{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">DBT OpenAI Speech Generation ¡!¡</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<hr class="hr-home-header" style="color:green;">

<h3 class="text-center log-register-h3">To INTERACT with:<br><span class="artificial-intelligence">SìįSí</span><br>Please Register then Log in<br>¡!¡ <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown"> ¡!¡</h3>

<hr class="mb-3" style="color:yellow;">

<!-- Navbar -->
<nav class="navbar">
<!--
    <a class="navbar-brand col" href="https://openai-dbt-api-18753ef200f1.herokuapp.com/docs">SìįSí Dbt ¡!¡</a>
    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
-->
    <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav" style="display: inline-block;">
            <li class="nav-item" style="display: inline-block; margin-right: 2.7rem;">
                <a class="nav-link register" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item" style="display: inline-block; margin-right: 2.7rem;">
                <a class="nav-link register" href="{{ url_for('register') }}">&</a>
            </li>
            <li class="nav-item" style="display: inline-block;">
                <a class="nav-link active log-in" aria-current="page" href="{{ url_for('login') }}">Log In</a>
            </li>
        </ul>
    </div>

</nav>

<hr class="mb-3" style="color:yellow;">

<div>
    <div class="mb-3 text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color:#17a2b8;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ wtf.quick_form(writing_text_form, novalidate=True, button_map={'submit': 'success btn submit'}) }}
    </div>

    {% if response %}
        <!-- Display the text response -->
        <div id="response-text" class="mb-3 text-center" style="color:#fff;">{{ response|safe }}<br>💪🏿😇👌🏿</div>
    {% endif %}
</div>

<hr class="mb-5" style="color:red;">

{% endblock %}

{% block footer %} {% endblock %}
