{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href='static/assets/images/favicon3.ico'>
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content %}

<div class="content">

  <!-- Page Header -->

    <div class="container-fluid">
        <div class="p-1 rounded-3 jumbotron">
            <div class="py-1">
                <h1 class="">Log In ¡!¡</h1>
            </div>
        </div>
        <h5 class="text-center conversations-details">Welcome Back, Log In ¡!¡<br>To Interact<br>with the<br>Artificial Intelligence</h5>
    </div>

    <hr class="mb-3" style="color:green;">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto content mb-3">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:red">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.remember_me.label(class="form-check-label") }}
                        {{ form.remember_me(class="form-check-input") }}
                    </div>

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn submit btn-block btn-success">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<hr class="mb-3" style="color:yellow;">

<div class="text-center">
    <a href="/" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
</div>

<hr class="mb-5" style="color:red;">

{% endblock %}

{% block footer_ %} {% endblock %}
