{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href='static/assets/images/favicon1.ico'>
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content %}

<div class="content">

    <!-- Page Header -->

    <div class="container-fluid">
        <div class="p-1 rounded-3 jumbotron">
            <div class="py-1">
                <h1 class="">Register ¡!¡</h1>
            </div>
        </div>
        <h5 class="text-center conversations-details">Welcome<br>¡!¡ Register ¡!¡<br>
            To Interact with the<br>¡!¡ Artificial Intelligence ¡!¡</h5>
    </div>

    <hr class="mb-3" style="color:green;">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-3">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:#17a2b8;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="">
                    <!--<h3 class="mt-5 mb-4">Register</h3>-->
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                          {{ form.email.label(class="form-label") }}
                          {{ form.email(class="form-control", placeholder="Your email address",  autocomplete="email") }}
                        </div>

                        <div class="mb-3">
                          {{ form.password.label(class="form-label") }}
                          {{ form.password(class="form-control", placeholder="Choose a password", autocomplete="new-password") }}
                        </div>

                        <div class="mb-3">
                          {{ form.confirm_password.label(class="form-label") }}
                          {{ form.confirm_password(class="form-control", placeholder="Confirm your password", autocomplete="new-password") }}
                        </div>

                        <div class="mb-3">
                          {{ form.name.label(class="form-label") }}
                          {{ form.name(class="form-control", placeholder="Choose your username",  autocomplete="new-username") }}
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn submit btn-block btn-success">Register</button>
                        </div>
                    </form>

                    <div class="mt-4">
                      <p style="color:gray;">Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-3" style="color:yellow;">

    <div class="text-center">
        <a href="/" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
    </div>

    <hr class="mb-5" style="color:red;">

</div>

{% endblock %}

{% block footer_ %} {% endblock %}
