{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content %}

<div class="content">

    <!-- Page Header -->

    <div class="container-fluid">
        <div class="p-1 rounded-3 jumbotron">
            <div class="py-1">
                <h1 class="">Register ¡!¡</h1>
            </div>
        </div>
        <p style="color:#fff;" class="text-center">Interact with the App</p>
    </div>

    <hr style="color:green;">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'outline-success  btn-block submit'}) }}

          </div>
        </div>
  </div>

  <hr style="color:yellow;">

</div>

{% endblock %}

{% block footer_ %} {% endblock %}
