{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href='static/assets/images/favicon1.ico'>
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="py-1">
            <h1 class="">Register ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<div class="content">

    <!-- Page Header -->
    <h5 class="text-center conversations-details">Welcome<br>¡!¡ Register ¡!¡<br>
        To Interact with the<br>¡!¡ Artificial Intelligence ¡!¡</h5>

    <hr class="mb-3" style="color:green;">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-3">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center" style="color:#17a2b8;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="">

                    <span style="display: none;">{{ wtf.form_field(form.csrf_token) }}</span>
                    {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'success btn-block submit'}) }}

                    <div class="mt-4">
                      <p style="color:gray;">Already have an account? <a href="/login">Log in here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-3" style="color:yellow;">

    <div class="text-center">
        <a href="/" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
    </div>

    <hr class="mb-5" style="color:red;">

</div>

{% endblock %}

{% block footer_ %} {% endblock %}
