{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">Conversation History ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<hr class="mb-3" style="color:green;">

<h3 class="text-center conversations-details">Actual Conversation</h3>

<div id="resultMemo" style="" class="text-center mb-3">
    <h3>Memory Buffer</h3>
    <textarea class="textarea-memory mb-3" style="color:green;">{{ memory_buffer|safe }}</textarea>

    <hr class="mb-3" style="color:yellow;">

    <h3>Summary</h3>
    <textarea class="textarea-memory mb-3" style="color:red;">{{ summary_conversation|safe }}</textarea>

    <hr class="mb-3" style="color:red;">

    <h3>Memory Load</h3>
    <textarea class="textarea-memory mb-3" style="color:purple;">{{ memory_load|safe }}</textarea>

</div>

<hr class="mb-3" style="color:yellow;">

<div class="text-center">
    <a href="{{ url_for('conversation') }}" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
</div>

<hr class="mb-5" style="color:green;">

{% endblock %}

{% block footer %} {% endblock %}
