{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
{% include 'bootstrap/base.html' %}
<style>
    .lighter-text {
        color: #b0b0b0;
        /* Lighter gray for the paragraph text */
    }
</style>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="py-1">
            <h1 class="">Blog Post Details ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}
<!-- Main content -->
<div class="container mt-5">
    <div class="card bg-secondary text-light shadow-lg">
        <div class="card-body">
            <section>
                <h2 class="text-xl mb-4 font-semibold text-info">Blog Post Details</h2>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-light border-secondary rounded-lg">
                        <h3 class="text-lg font-semibold">Blog Post Title</h3>
                        <p class="lighter-text">
                            This is the content of the blog post. Lorem Ipsum
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit..." "No hay nadie que ame el dolor mismo,
                            que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."
                        </p>
                        <hr class="my-4 border-secondary">
                        <h4 class="text-lg font-semibold">YouTube Title</h4>
                        <p class="lighter-text">Title of the associated YouTube video</p>
                        <h4 class="text-lg font-semibold mt-4">YouTube Link</h4>
                        <a href="#" class="text-info hover:underline">https://www.youtube.com</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="text-center p-4 mt-5 bg-dark text-light">
    Powered by <a href="https://siisi-ai.online/" target="_blank" class="text-info hover:underline">·SìįSí·Dbt·</a>
</footer>

{% endautoescape %}
{% endblock %}