{% extends 'header.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Welcome to AI Blog Generator {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
{% include 'bootstrap/base.html' %}
<style>
    /* Optional: Custom CSS styles */
    .custom-input-group {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        /* Example shadow effect */
    }
</style>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light text-center">
        <div class="py-1">
            <h1 class="">AI Blog Generator ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container footer mx-auto mt-10 p-2 sm:px-0 mb-5">
    <div class="max-w-3xl mx-auto main p-6 rounded-lg shadow-md card-body custom-input-group border border-secondary">
        <!-- Blog posts section -->
        <section>
            <h3 class="center font-weight-bold mb-3">AI Blog Generator</h3>
            <p class="text-center mb-5">
                Generate high-quality blog articles from YouTube videos using artificial intelligence.
                Simply enter the link to the YouTube video below and let the AI create the content for you ¡!¡
            </p>

            <!-- YouTube section -->
            <h4 class="font-weight-bold mb-3">Enter YouTube Video Link</h4>
            <div class="input-group mb-3">
                <input id="youtubeLink" type="url" class="form-control form-control-lg mb-5"
                    placeholder="Paste YouTube Link...">
                <div class="input-group-append text-center">
                    <button id="generateBlogButton" class="btn btn-custom border-secondary mb-5">Generate</button>
                </div>
            </div>

            <!-- Section for loading circle -->
            <div id="loading-indicator" style="display:none;" class="text-center mb-1">
                <p class="">Loading...</p>
                <img class="loading"
                    src="https://media1.giphy.com/media/VseXvvxwowwCc/200w.webp?cid=ecf05e47bx13l0iyjnyo8e0dxaumajijmsz83lk4bl8kow3w&ep=v1_gifs_search&rid=200w.webp&ct=g"
                    alt="Loading">
            </div>

            <div id="loading-circle" class="load mb-3" style="display: none;"></div>

            <!-- Generated Blog Display Section -->
            <section class="mb-3">
                <h4 class="font-weight-bold mb-3">Generated Blog Article</h4>
                <div id="blogContent" class="mt-2 lighter-text"></div>
                <h5 class="font-weight-bold text-center">
                    Then click here to see the result:<br>👇🏿<br><a href="/blog-posts"
                        class="btn btn-custom border-secondary mt-1">Saved Posts</a>
                </h5>
            </section>
        </section>
    </div>
</div>

<footer class="footer text-center mx-5 p-3 mt-4 mb-5">
    Powered by <a href="{{ url_for('conversation_interface.conversation_interface') }}">·SìįSí·Dbt·</a>
</footer>

<style>
    .custom-input-group:hover {
        transform: scale(1.03);
        /* Scale up by 5% on hover */
        transition: transform 0.3s ease;
        /* Smooth transition over 0.3 seconds */
    }
</style>

<script>
    document.getElementById('generateBlogButton').addEventListener('click', async () => {
        const youtubeLink = document.getElementById('youtubeLink').value;
        const blogContent = document.getElementById('blogContent');

        if (youtubeLink) {
            document.getElementById('loading-circle').style.display = 'block';
            document.getElementById('loading-indicator').style.display = 'block';

            blogContent.innerHTML = ''; // Clear previous content

            const endpointUrl = '/blog/generator';

            try {
                const response = await fetch(endpointUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ link: youtubeLink })
                });

                const data = await response.json();

                blogContent.innerHTML = data.content;

            } catch (error) {
                console.error("Error occurred:", error);
                alert("Something went wrong. Please try again later.");

            }
            document.getElementById('loading-circle').style.display = 'none';
            document.getElementById('loading-indicator').style.display = 'none';
        } else {
            alert("Please enter a YouTube link.");
        }
    });
</script>

{% endblock %}
