{% extends 'header.html' %}

{% block title %} Welcome to AI Blog Posts {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
{% include 'bootstrap/base.html' %}
<style>
    .lighter-text {
        color: #b0b0b0;
        /* Lighter gray for the paragraph text */
    }
</style>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="py-1">
            <h1 class="">Blog Posts ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

    <!-- Main content -->
    <div class="container mt-5">
        <div class="bg-dark text-light">
            <div class="">
                <!-- Blog posts section -->
                <section>
                    <div class="">
                        <div class="bg-dark text-light rounded-lg">

                            {% for article in blog_articles %}
                                <a href="{{ url_for('extras_features.blog_details', pk=article.id) }}">
                                    <div class="llm-response p-4 border border-secondary rounded-lg">
                                        <h3 class="text-lg font-semibold">{{ article.youtube_title }}</h3>
                                        <p class="text-info">{{ article.generated_content|truncate(91) }}</p>
                                        <p class="created">{{ article.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                                    </div>
                                    <br>
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url_for('extras_features.generate_blog') }}" class="btn btn-primary mb-3">
            AI Blog Generator 🔥-¡!¡-<img src="{{ url_for('static', filename='assets/images/crown.webp') }}"
                alt="Crown Icon" class="crown">-¡!¡-🔥
        </a>
    </div>

    <div class="text-center mt-4 mb-3">
        <a href="https://9vc-tenacious-davy.circumeo-apps.net/" target="_blank" class="btn btn-secondary mb-3">
            AI Chat System
        </a>
    </div>

    <footer class="footer text-center p-3 mx-5 mt-4 mb-5">
        Powered by <a href="{{ url_for('conversation_interface.conversation_interface') }}">·SìįSí·Dbt·</a>
    </footer>

{% endautoescape %}
{% endblock %}
