{% extends 'header.html' %}

{% block title %}Drawing Generator{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
{% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid mb-5">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="container-fluid py-1">
            <h1>
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon"
                    class="crown img-fluid mx-auto" width="100" height="100">
                ·SìįSí·Dbt· OpenAI
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon"
                    class="crown img-fluid mx-auto" width="100" height="100">
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}
<div class="content text-center">
    <form id="drawing-form" method="POST" enctype="multipart/form-data">
        {{ drawing_form.csrf_token }}

        <div id="error-message" class="alert alert-danger mb-3" style="display: none;"></div>
        <hr class="green mb-2">

        <div class="form-group align-left mb-3" style="width: 199px; margin: auto;">
            <label for="generationType" class="label_">Select Type of Generation:</label>
            <select id="generationType" name="generation_type" class="form-control text-center">
                <option value="generations">Generations</option>
                <option value="edits">Edits</option>
                <option value="face-to-sticker">Face To Sticker</option>
            </select>
        </div>

        <div id="upload-container" class="form-group align-left mb-3"
            style="display: none; width: 199px; margin: auto;">
            <label for="imageUpload" class="label_">Upload Image for Edits or Face To Sticker:</label>
            <input type="file" id="imageUpload" name="image_upload" class="form-control" accept="image/*">
        </div>

        <hr class="green mb-5">

        <div id="textarea-container" class="align-left mb-5">
            <label for="generateDraw" class="label_">Start Writing to Generate a Drawing:<br>(be Specific for a better
                result)</label>
            <textarea class="form-control mb-5 align-left" id="generateDraw" name="generate_draw"></textarea>
        </div>

        <hr class="gold mb-3">

        <!-- Section for loading circle -->
        <div id="loading-indicator2" style="display:none;" class="text-center mb-3">
            <p>Loading...</p>
            <img class="loading"
                src="https://media1.giphy.com/media/VseXvvxwowwCc/200w.webp?cid=ecf05e47bx13l0iyjnyo8e0dxaumajijmsz83lk4bl8kow3w&ep=v1_gifs_search&rid=200w.webp&ct=g"
                alt="Loading">
        </div>
        <div id="loading-circle2" class="load mb-3" style="display: none;"></div>

        <div class="text-center">
            <button id="generateDrawingButton" class="btn generate-text mb-3" type="button">Generate A Drawing 🔥¡!¡
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" class="crown">¡!¡🔥</button>
        </div>

        <hr class="gold mb-4">

        <div class="img-container mb-3" id="user-image-display"></div> <!-- Container for the uploaded image -->
        <div class="img-container mb-3" id="generated-image-display"></div> <!-- Container for the generated image -->
        <button id="saveImage" class="nav-link btn mb-5" style="margin: auto;"></button>

        <hr class="gold mb-3">

        <div id="analyze-upload-container" class="form-group align-left" style="width: 229px; margin: auto;">
            <label for="analyzeImageUpload" class="label_">Upload Image for Analysis:</label>
            <input type="file" id="analyzeImageUpload" name="analyze_image_upload" class="form-control" accept="image/*"
                style="display:none;">
        </div>

        <div>
            <button id="analyzeButton" class="mb-4 btn analyze-text" type="button">Analyze An Image 🔥¡!¡
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" class="crown">¡!¡🔥
            </button>
        </div>

        <hr class="gold mb-3">

        <!-- Section for loading circle -->
        <div id="loading-indicator1" style="display:none;" class="text-center mb-3">
            <p>Loading...</p>
            <img class="loading"
                src="https://media1.giphy.com/media/VseXvvxwowwCc/200w.webp?cid=ecf05e47bx13l0iyjnyo8e0dxaumajijmsz83lk4bl8kow3w&ep=v1_gifs_search&rid=200w.webp&ct=g"
                alt="Loading">
        </div>
        <div id="loading-circle1" class="load mb-3" style="display: none;"></div>


        <div id="analysis-container" style="height: auto; width: 100%;" class="analysis-container mb-5">
            <div id="uploaded-image-display" class="img-container mb-3"></div>
            <div id="analysis-result" class="mb-3"></div> <!-- To display analysis results -->
            <div id="audio-player-container" class="mb-3" style="display: none;">
                <audio id="audio-player" style="height: 31px; width: 279px;" controls></audio>
                <hr class="green mt-3">
            </div>
        </div>
    </form>
    
    <hr class="crimson mb-3">
    
    <button type="button" class="btn back-home mb-3">
        <a href="{{ url_for('conversation_interface.conversation_interface') }}" class="nav-link">-¡!¡- Back Home -¡!¡-</a>
    </button>
    
    <hr class="crimson mb-5">

    <script src="{{ url_for('static', filename='js/drawing-generator.js') }}" defer></script>
</div>
{% endautoescape %}
{% endblock %}
