{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon3.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">
                <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
                SìįSí DBT OpenAI
                <img src="https://rastas-dreadlocks.3marches.com/images/crown.webp" class="crown">
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

<div class="content container">
    <div id="resultMemo" class="text-center mb-3">

        <hr class="mb-3" style="color:green;">
        <h3 style="color:yellow; margin-top:0;">REL😎AD</h3>
        <hr class="mb-5" style="color:green;">

        <span style="color:#fff;">Reload the page ∞</span> <span style="font-size:1.45rem; color:gold">∞ Reload the page</span>
        <h3 class="mb-5">Error Message:<br>🔥<span style="color:yellow; font-size:1rem;">{{ error_message }}</span>🔥<br>¡!¡ 😭 ¡!¡</h3>
    </div>

    <hr class="mb-3" style="color:yellow;">

    <div class="text-center">
        <a href="{{ url_for('home') }}" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
    </div>

    <hr class="mb-5" style="color:red;">
</div>

{% endautoescape %}
{% endblock %}

{% block footer %} {% endblock %}
