{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
{% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="py-1">
            <h1 class="">Extras Features ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

<div class="container text-center">

    <hr class="green mb-3">

    <div class="mb-3">
        <button id="aiGeneratorBtn" type="button"  class="btn ai-generator-btn">
            <a href="{{ url_for('extras_features.generate_blog') }}">
                AI Blog Generator🔥-¡!¡- 
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon" class="crown"> -¡!¡-🔥
            </a> 
        </button>
        <br>
        <span class="lower-size">
            (AI Blog Generator Done With Flask, Bootstrap)
        </span>
    </div>

    <hr class="green mb-5">
    <hr class="gold mb-3">

    <div class="mb-3">
        <button id="aiGeneratorBtn1" type="button"  class="btn ai-generator-btn">
            <a href="https://r1i-assiduous-thomson.circumeo-apps.net/" target="_blank">
                AI Blog Generator🔥-¡!¡- 
                <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon" class="crown"> -¡!¡-🔥
            </a> 
        </button>
        <br>
        <span class="lower-size">(AI Blog Generator Done With Django, Tailwind)</span>
    </div>

    <hr class="gold mb-5">
    <hr class="crimson mb-3">

    <div>
        <button id="chatSystem" type="button"  class="btn chat-system  mb-3">
            <a href="https://9vc-tenacious-davy.circumeo-apps.net/" target="_blank">
                AI Chat System
            </a> 
        </button>
    </div>

    <hr class="crimson mb-5">

</div>

{% endautoescape %}
{% endblock %}