{% extends 'header.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Welcome to {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
{% include 'bootstrap/base.html' %}

<style>
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .load {
        width: 100px;
        height: 100px;
        margin: 110px auto 0;
        border: solid 10px #8822aa;
        border-radius: 50%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        animation: rotate 1s linear infinite;
    }

    .intro-section {
        background-color: #343a40;
        /* Lighter shade of gray for the introduction section */
        color: #f8f9fa;
        /* Light text color for contrast */
    }

    .lighter-text {
        color: #b0b0b0;
        /* Lighter gray for the paragraph text */
    }
</style>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="py-1">
            <h1 class="">AI Blog Generator ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

<!-- Main content -->
<div class="flex-grow container mt-4">
    <div class="mx-auto text-light p-4 intro-section rounded shadow-lg" style="max-width: 600px;">
        <!-- Introduction section -->
        <div class="text-center mb-4 p-3 rounded">
            <h2 class="h4 font-weight-bold">Welcome to the AI Blog Generator</h2>
            <p class="lighter-text">
                Generate high-quality blog articles from YouTube videos using artificial intelligence.
                Simply enter the link to the YouTube video below and let the AI create the content for you ¡!¡
            </p>
        </div>

        <!-- YouTube section -->
        <div>
            <h2 class="h5 font-weight-bold mb-3">Enter YouTube Video Link</h2>
            <div class="input-group">
                <input id="youtubelink" type="url" class="form-control mb-3" placeholder="Paste YouTube Link...">
                <div class="input-group-append text-center">
                    <button id="generateBlogButton" class="btn btn-secondary text-center">Generate</button>
                </div>
            </div>
        </div>

        <!-- Section for loading circle -->
        <div id="loading-circle" class="load" style="display: none;"></div>

        <div id="loading-indicator" class="text-center" style="display:none;">
            <p>Loading...</p>
            <img class="loading"
                src="https://media1.giphy.com/media/VseXvvxwowwCc/200w.webp?cid=ecf05e47bx13l0iyjnyo8e0dxaumajijmsz83lk4bl8kow3w&ep=v1_gifs_search&rid=200w.webp&ct=g"
                alt="Loading">
        </div>

        <!-- Generated Blog Display Section -->
        <section class="mt-4 mb-5">
            <h2 class="h5 font-weight-bold mb-3">Generated Blog Article</h2>
            <div id="blogContent" class="mt-2 lighter-text"></div>
        </section>
    </div>
</div>

<footer class="text-center p-3 mt-4 bg-secondary text-light mb-5">
    Powered by <a href="{{ url_for('conversation_interface.conversation_interface') }}" target="_blank"
        class="crimson">·SìįSí·Dbt·</a>
</footer>

{% endautoescape %}
{% endblock %}
