{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
        <div class="container-fluid mb-5">
            <div class="p-1 rounded-3 jumbotron bg-dark">
                <div class="container-fluid py-1">
                    <h1 class="">
                        <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon" class="crown img-fluid mx-auto" width="100" height="100">
                        ·SìįSí·Dbt· OpenAI
                        <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" alt="Crown Icon" class="crown img-fluid mx-auto" width="100" height="100">
                    </h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% autoescape true %}
    
    <div class="content text-center">
        <hr class="green mb-1">

        <!-- Navbar -->
        <nav class="navbar nav-home">
            <div class="mb-1">
                <button class="register-home" aria-label="Register">
                    <a href="{{ url_for('auth.register') }}" class="gold1">Register</a>
                </button>

                <button class="active log-in-home" aria-current="page" aria-label="Login">
                    <a href="{{ url_for('auth.login') }}" class="gold1">Login</a>
                </button>

                <!--<p class="gold" style="margin-bottom:0;">∞-To Use All Features-∞</p>-->
            </div>
        </nav>
    
        <hr class="green mb-5">

        <div class="mb-5">
            <h4 class="mb-4">Welcome to <span class="Dbt">·SìįSí·Dbt·</span> <br> Your AI Companion <br>¡!¡</h4>
            <p class="white align-left mb-5">
                <span class="fw-bold">·SìįSí·Dbt·</span> is your personal AI assistant, designed to simplify your life and boost your productivity. With powerful AI
                technology at your fingertips, <span class="fw-bold">·SìįSí·Dbt·</span> helps you streamline tasks, answer questions, and stay organized
                effortlessly. Join us and experience the future of productivity today!
            </p>

            <button class="description mb-5" aria-label="Description">
                <a href="/description" class="gold1">-¡!¡- Desscription -¡!¡-</a>
            </button>
    
            <hr class="green mb-5">
        </div>
    </div>

{% endautoescape %}
{% endblock %}
