{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
        <div class="container-fluid mb-5">
            <div class="p-1 rounded-3 jumbotron">
                <div class="container-fluid py-1">
                    <h1 class="">
                        <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" class="crown">
                        ·SìįSí·Dbt· OpenAI
                        <img src="{{ url_for('static', filename='assets/images/crown.webp') }}" class="crown">
                    </h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% autoescape true %}
    
    <div class="content text-center">
        <hr class="green mb-1">

        <!-- Navbar -->
        <nav class="navbar nav-home">
            <div id="navbarSupportedContent" class="mb-1">
                <ul class="navbar-nav" style="display: inline-block;">
                    <li class="nav-item" style="display: inline-block;">
                        <a class="nav-link register-home" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    <li class="nav-item" style="display: inline-block;">
                        <a class="nav-link active log-in-home" aria-current="page"
                           href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                </ul>
                <!--<p class="gold" style="margin-bottom:0;">∞-To Use All Features-∞</p>-->
            </div>
        </nav>
    
        <hr class="green mb-5">

        <div class="mb-5">
            <h4 class="mb-4">Welcome to <span class="text-primary">·SìįSí·Dbt·</span> <br> Your AI Companion <br>¡!¡</h4>
            <p class="white align-left mb-5">
                <span class="fw-bold">·SìįSí·Dbt·</span> is your personal AI assistant, designed to simplify your life and boost your productivity. With powerful AI
                technology at your fingertips, <span class="fw-bold">·SìįSí·Dbt·</span> helps you streamline tasks, answer questions, and stay organized
                effortlessly. Join us and experience the future of productivity today!
            </p>

            <button class="description mb-5"><a href="/description" class="gold">¡!¡ Desscription ¡!¡</a></button>
    
            <hr class="green mb-5">
        </div>

{% endautoescape %}
{% endblock %}

{% block footer %} {% endblock %}
