{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
    {% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="py-1">
            <h1 class="">Register ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% autoescape true %}

    <div class="content container">

        <!-- Page Header -->
        <h5 class="text-center conversations-details">Welcome<br>¡!¡ Register ¡!¡<br>
            To Interact with<br>¡!¡ The Artificial Intelligence ¡!¡</h5>

        <hr class="mb-3" style="color:green;">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto mb-3">

                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning text-center">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if error_message %}
                        <div class="alert alert-warning text-center">
                            {{ error_message }}
                        </div>
                    {% endif %}

                    <form method="POST" action="{{ url_for('register') }}" accept-charset="UTF-8">
                        <!-- Include CSRF token -->
                        {{ register_form.csrf_token }}

                        {{ wtf.form_field(register_form.email) }}
                        {{ wtf.form_field(register_form.password) }}
                        {{ wtf.form_field(register_form.confirm_password) }}
                        {{ wtf.form_field(register_form.name) }}
                        <div class="mb-3 text-center">{{ wtf.form_field(register_form.submit, class="submit btn btn-success") }}</div>
                    </form>

                    <div class="mb-3">
                        <p style="color:gray;">Already have an account? <a href="/login">Log in here</a>.</p>
                    </div>

                </div>
            </div>
        </div>

        <hr class="mb-3" style="color:yellow;">

        <div class="text-center">
            <a href="{{ url_for('home') }}" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
        </div>

        <hr class="mb-5" style="color:red;">

    </div>

{% endautoescape %}
{% endblock %}

{% block footer_ %} {% endblock %}
