{% import "bootstrap/wtf.html" as wtf %}

{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon5.ico') }}">
{% include 'bootstrap/base.html' %}
{% endblock %}

{% block navbar %}{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="py-1">
            <h1 class="">Reset Password Token ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

<div class="text-center mb-5">
    <h1>Reset Password Token</h1>
    <hr class="green mb-3">
    <form method="POST" action="{{ url_for('auth.reset_with_token', token=token) }}">
        {{ form.hidden_tag() }}
        <div class="mb-4">{{ form.password.label }} {{ form.password(class_="form-control form-control-lg") }}</div>
        <hr class="gold mb-3">
        <div class="mb-4">{{ form.confirm_password.label }} {{ form.confirm_password(class_="form-control form-control-lg") }}</div>
        <hr class="crimson mb-4">
        <div class="mb-4 text-center">{{ wtf.form_field(form.submit, class="submit btn btn-danger") }}</div>
    </form>

    <hr class="green mb-5">

    <div class="text-center">
        <button type="button" class="btn btn-outline back-home mb-3">
            <a href="{{ url_for('conversation_home.home') }}" class="">-¡!¡- Back Home -¡!¡-</a>
        </button>
    </div>
</div>

{% endautoescape %}
{% endblock %}
