{% extends 'header.html' %}

{% block title %} Welcome to {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
{% include 'bootstrap/base.html' %}
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron bg-dark text-light">
        <div class="py-1">
            <h1 class="">Website Review Details ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}
<div class="d-flex justify-content-center">
    <button class="btn btn-outline-info submit scroll-down text-center" onclick="scrollDown()" id="scrollDownButton">
        ⇩
    </button>
</div>
<br>
<!-- Main content -->
<br>
<div class="container footer mx-auto p-2 sm:px-0 custom-input-group mb-5">
    <div class="max-w-3xl mx-auto main p-6 rounded-lg shadow-md card-body border border-secondary">
        <section>
            <div class="p-4 main text-light border-secondary rounded-lg">
                <h3 class="text-lg font-semibold">
                    {%- set domain = review_detail.site_url.split('/')[2] -%}
                    {{ domain }}
                </h3>
                <textarea class="textarea_details blog_details p-4 llm-response"
                    readonly>{{ review_detail.feedback|replace('<voice>', '')|replace('</voice>', '') }}</textarea>
                <p class="created mb-2">{{ review_detail.created_at.strftime("%a %d %B %Y %H:%M:%S") }}</p>
                <hr class="my-4 mb-4 border-secondary">
                <h4 class="text-lg font-semibold">Website Link</h4>
                <a href="{{review_detail.site_url}}" class="llm-response hover:underline"
                    style="max-width: 100%; word-wrap: break-word;">
                    {{ review_detail.site_url|truncate(37)|safe }}
                </a>
                <hr class="my-4 mb-3 border-secondary">
                <!-- Screenshot Section -->
                <div id="screenshotResult" class="">
                    <h3 class="text-lg font-bold align-left">Website Screenshot:</h3>
                    <img id="screenshotImage" src="{{ review_detail.site_image_url }}" alt="Website Screenshot">
                </div>
                <hr class="my-4 mb-3 border-secondary">
                <!-- Audio Player for TTS -->
                <div id="audioFeedback" class="audio-feedback mb-4">
                    <h3 class="text-lg font-bold">Voice Feedback:</h3>
                    <audio controls id="audioElement">
                        <source id="audioSource" src="{{ review_detail.tts_url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <hr class="my-4 mb-4 border-secondary">
                <!-- Like Section -->
                <div id="updateLike" class="like-button text-center mb-5" data-review_id="{{ review_detail.id }}">
                    <p class="h6">Review ID: {{ review_detail.id }}</p>
                    <i id="likeIcon{{ review_detail.id }}"
                        class="fa fa-heart fa-2x mb-3 {% if review_detail.liked %}liked{% endif %}"
                        onclick="toggleLike('{{ review_detail.id }}')"></i>
                    <hr class="text-center" style="margin: 0 45%;">
                </div>
                <div id="likeMessage{{ review_detail.id }}" class="text-center mt-6 mb-5 hidden"
                    style="color:blanchedalmond;">
                    Liked!<br>You can access your liked Reviews from the menu.
                </div>
                <div id="unlikeMessage{{ review_detail.id }}" class="text-center mt-6 mb-5 hidden"
                    style="color:blanchedalmond;">Unliked!</div>
                </div>
            </div>
        </section>
    </div>
</div>
<br>

<script src="{{ url_for('static', filename='js/website-review.js') }}" defer></script>

{% endautoescape %}
{% endblock %}

{% block footer1 %}
<div class="text-center">
    <a href="{{ url_for('website_review.get_all_reviews') }}" class="btn btn-primary mb-5">
        Back to Generated Review 🔥-¡!¡-<img src="{{ url_for('static', filename='assets/images/crown.webp') }}"
            alt="Crown Icon" class="crown">-¡!¡-🔥
    </a>
</div>

<footer class="footer text-center mx-5 p-3 mt-4 mb-5">
    Powered by <a href="{{ url_for('conversation_interface.conversation_interface') }}">·SìįSí·Dbt·</a>
</footer>

{% endblock %}
