{% extends 'header.html' %}

{% block title %} Welcom€ to{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon1.ico') }}">
    {% include 'bootstrap/base.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content1 %}
<div class="container-fluid">
    <div class="p-1 rounded-3 jumbotron">
        <div class="container-fluid py-1">
            <h1 class="">Conversation History ¡!¡</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}

    {% if error_message %}
    <div class="alert alert-info">
        {{ error_message }}
    </div>
    {% endif %}

    <div class="content container">
        <hr class="mb-3" style="color:green;">
        <h3 class="text-center conversations-details" style="margin-top:0;">Actual Conversation</h3>
        <hr class="mb-5" style="color:green;">

        <div id="resultMemo" style="" class="text-center mb-3">
            <hr class="mb-3" style="color:yellow;">
            <h3 style="margin-top:0;">Memory Buffer</h3>
            <textarea class="textarea-memory mb-3" style="color:green;">{{ memory_buffer|indent(4)|safe }}</textarea>

            <hr class="mb-5" style="color:yellow;">
            <hr class="mb-3" style="color:red;">

            <h3 style="margin-top:0;">Summary</h3>
            <textarea class="textarea-memory mb-3" style="color:red;">{{ summary_conversation|safe }}</textarea>

            <hr class="mb-5" style="color:red;">
            <hr class="mb-3" style="color:green;">

            <h3 style="margin-top:0;">Memory Load</h3>
            <textarea class="textarea-memory mb-3" style="color:purple;">
            {% if memory_load %}
                {% for memory in memory_load %}
                    {{ memory.user_name }}: {{ memory.user_message }}
                    ·SìįSí· Dbt: {{ memory.llm_response }}
                {% endfor %}
            {% else %}
                No memory load data available.
            {% endif %}
            </textarea>

            <hr class="mb-5" style="color:green;">
            <hr class="mb-3" style="color:yellow;">


            <div class="text-center">
                <a href="{{ url_for('conversation_interface') }}" class="btn text-center btn-story mb-3" style="font-size:1rem;">Back Home -¡!¡-</a>
            </div>

            <hr class="mb-5" style="color:yellow;">
        </div>

    </div>

{% endautoescape %}
{% endblock %}

{% block footer %} {% endblock %}
